body {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
}

h4 {
}

h5 {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  width: 1054px;
  height: 74px;
  margin: 0 auto;
  padding: 0 73px;
}

#logo-img {
  position: relative;
  z-index: 2;
}

.navigation ul {
  padding: 0;
  text-align: center;
}

.navigation li {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-left: 0px;
  margin-top: 15px;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: #f4f4f4;
}

.active-header {
  color: #766357;
}

.navigation li:nth-child(1) {
  margin-left: 0px;
}

.navigation li:nth-child(2) {
  margin-left: 142px;
}

.navigation li:nth-child(3) {
  position: left;
  margin-top: 0px;
  margin-left: 115px;
}

.navigation li:nth-child(4) {
  margin-left: 125px;
}

.navigation li:nth-child(5) {
  margin-left: 161px;
}

.header-images img:nth-child(1) {
  position: relative;
  margin-bottom: 0px;
  margin-top: -10px;
  z-index: 1;
}

.header-images img:nth-child(2) {
  position: absolute;
  top: 156px;
  left: 491px;
  z-index: 2;
}

.header-images img:nth-child(3) {
  position: absolute;
  top: 531px;
  z-index: 2;
}

.sedona-cause {
  margin-top: -5px;
  margin-bottom: 1px;
  padding-left: 355px;
  padding-top: 39px;
  padding-bottom: 30px;
  height: 151px;
  text-align: center;
}

.sedona-cause h3  {
  width: 490px;
  margin-bottom: 31px;
}

.sedona-cause p {
  width: 490px;
}


.all-center {
  margin: -16px auto;
  width: 1200px;
  box-shadow: 0 0 160px #dbdbdb;
}

.namber-one {
  margin-bottom: 3px;
}

.text {
  width: 400px;
  height: 201px;
  background-color: #81b3d2;
  padding-top: 55px;
  color: #fff;
  text-align: center;
}

.text h3 {
  width: 160px;
  margin: 0 auto;
  line-height: 21px;
}

.text p {
  width: 282px;
  margin: 0 auto;
  margin-top: 22px;
  line-height: 21px;
}

.img-namber {
  float: right;
  margin-top: -256px;
  width: 800px;
  height: 256px;
}

.advantage {
  height: 330px;
  margin-bottom: 0px;
}

.advantage .motel {
  width: 400px;
  height: 300px;
  float: left;
  text-align: center;
  padding-bottom:30px;
}

.advantage .motel p {
  width: 286px;
  margin: 0 auto;
  line-height: 21px;
}

.advantage .motel h3 {
  margin-top: 23px;
}

#img-hotel {
  margin-top: 60px;
}

#img-eat {
  margin-top: 62px;
}

#img-present {
  margin-top: 56px;
}

.namber-two {
  margin-bottom: 0px;
}

.text:nth-of-type(2) {
  float: right;
}

.namber-two .img-namber {
  float: left;
  margin-top: 0px;
}

.nambers-rem {
  height: 256px;
  margin-bottom: 3px;
  background-color: #eeeeee;
}

.nambers-rem div {
  width: 400px;
  height: 207px;
  float: left;
  text-align: center;
  padding-top: 49px;
}

.nambers-rem div h3 {
  width: 120px;
  margin: 0 auto;
  line-height: 21px;
  margin-bottom: 24px;
}

.nambers-rem div p {
  width: 265px;
  margin:  0 auto;
  line-height: 21px;
  margin-top: 21px;
}

.map-top {
  margin-bottom: 0px;
  height: 233px;
  padding-top: 58px;
  text-transform: uppercase;
  text-align: center;
}

.map-top h2 {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.map-top p {
  width: 440px;
  margin: 0 auto;
}

.button {
  width: 568px;
  height: 87px;
  color: #fff;
  outline: none;
  background-color: #766357;
  margin-top: 53px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}


.filter {
  margin-top: -21px;
  margin-bottom: 9px;
}

.bk-block {
  height: 201px;
  padding: 8px 73px;
  background:  url("../img/filter-background.jpg");
  margin-bottom: 30px;
}

.catalog-filter1 {
  width: 140px;
}

.catalog-filter2 {
  width: 156px;
  margin: -184px 0px 0px 251px;
}

.catalog-filter1 h4 {
  margin-bottom: 26px;
  color: #fff;
}

.catalog-filter2 h4 {
  margin-bottom: 26px;
  color: #fff;
}

.filter input[type="checkbox"] {
  display: none;
}

.filter input[type="checkbox"] + label {
  display: block;
  width: 102px;
  margin: 26px 38px;
  line-height: 20px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.filter input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 26px;
  height: 22px;
  background: url("../img/emptu-check.png") no-repeat;
  background-position: -1px 0px;
  position: absolute;
  top: -1px;
  left: -38px;
}

.filter input[type="checkbox"]:checked + label:before {
  content: "";
  background: url("../img/check.png") no-repeat;
  background-position: -1px 0px;
}

.filter input[type="checkbox"] + label:hover:before {
  color: #b5b5b6;
}

.filter input[type="checkbox"]:disabled + label:before {
  color: #6a6a6a;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  float: right;
  margin-top: -184px;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.found {
  margin-top: 9px;
  margin-bottom: 0px;
}

.foundet {
  width: 120px;
  margin-left: 73px;
}

.top {
  float: right;
  margin-right: 69px;
  margin-top: -47px;
}

.top button {
  border: none;
  background-color: #fff;
  width: 20px;
}

.sorting {
  float: left;
  margin-top: -60px;
  margin-left: 237px;
}

.sorting h5 {
  width: 75px;
}

.sorting ul {
  width: 245px;
  font-size: 12px;
  padding: 0;
  float: left;
  margin-top: -62px;
  margin-left: 100px;
}

.sorting li {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 15px;
}

.sorting p {
  font-size: 12px;
}

.active {
  color: #81b3d2;
}

.active:hover {
  border-bottom: 1px dotted #81b3d2;
}

.active:active {
  color: #000000;
}

.dotted {
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.dotted:hover {
  opacity: 1;
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.dotted:active {
  opacity: 1;
  color: #000000;
}

.example {
  margin-top: 0px;
}

.padding-hotel {
  height: 90px;
  padding: 30px 73px;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: -2px;
}

.hotel {
  width: 1056px;
}

.hotel a:hover {
  color: #81b3d2;
}

.hotel a:active {
  color: #cacaca;
}


.hotel img {
  float: left;
}

#four {
  float: right;
  margin-top: -91px;
}

#three {
  float: right;
  margin-top: -91px;
}

#two {
  float: right;
  margin-top: -91px;
}

.hotel h3 {
  width: 230px;
  float: left;
  margin-left: 31px;
  margin-top: -5px;
}

.cost {
  width: 244px;
  margin-left: 164px;
  padding: 0;
}

.cost p {
  width: 80px;
  display: inline-block;
  vertical-align: top;
  margin-top: -13px;
  margin-right: 31px;
}

.bottoms {
  width: 260px;
  margin-left: 165px;
  margin-top: 0px;
}

.bottoms a {
  display: inline-block;
  vertical-align: top;
}

.bottoms a:nth-child(2) {
  margin-left: 2px;
}

.bottom1 {
  width: 110px;
  height: 23px;
  text-align: center;
  padding-top: 4px;
  background-color: #81b3d2;
  color: #fff;
}

.bottom1:hover {
  background-color: #669ec0;
}

.bottom1:active {
  background-color: #5496bd;
}

.bottom2 {
  width: 142px;
  height: 23px;
  text-align: center;
  padding-top: 4px;
  background-color: #766357;
  color: #fff;
}

.bottom2:hover {
  background-color: #604e43;
}

.bottom2:active {
  background-color: #503e33;
}

.rating {
  width: 110px;
  height: 26px;
  float: right;
  margin-top: -26px;
  background-color: #f2f2f2;
}

.rating p {
  height: 15px;
  width: 85px;
  margin-top: 4px;
  margin-left: 16px;
}

footer {
  height: 120px;
  margin-top: 5px;
}

.bot-map {
  height: 28px;
  padding: 46px 0;
}

.visit {
  width: 140px;
  font-size: 21px;
  margin-left: 132px;
}

.link {
  width: 154px;
  margin: 0 auto;
  margin-top: -37px;
}

.link-a {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-left: 2px;
  background-color: #81b3d2;
  text-align: center;
}

.link-a:hover {
  background-color: #669ec0;
}

.link-a:active {
  background-color: #5496bd;
}

#twiter {
  margin-top: 17px;
}

#fase {
  margin-top: 13px;
}

#you {
  margin-top: 16px;
}

.by-html {
  float: right;
  width: 215px;
  height: 57px;
  margin-top: -52px;
  margin-right: 103px;
}

.by-html a {
  width: 113px;
  height: 39px;
  padding: 0;
  margin-top: -28px;
  float: right;
  background-image: url("../img/html.png");
  display: block;
}

.by-html a:hover {
  background-image: url("../img/html-footer-2.png");
}

.by-html a:active {
  background-image: url("../img/html-footer-3.png");
}

.by-html .span {
  font-size: 14px;
  width: 78px;
  margin-top: 19px;
}

.by-html img {
  margin: 0px;
}


.map {
  margin-bottom: px;
}































/*
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * > * > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * > * > * > * > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px blue;
}
