body {
}

h1 {
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-size: 21px;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  text-transform: uppercase;
}

h4 {
}

h5 {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  width: 1054px;
  height: 74px;
  margin: 0 auto;
  padding: 0 73px;
}

.navigation ul {
  padding: 0;
  text-align: center;
}

.navigation li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: top;
  margin-left: 0px;
  margin-top: 15px;

}

.navigation li:nth-child(1) {
  margin-left: -px;
}

.navigation li:nth-child(2) {
  margin-left: 143px;
}

.navigation li:nth-child(3) {
  position: left;
  margin-top: 0px;
  margin-left: 115px;
}

.navigation li:nth-child(4) {
  margin-left: 125px;
}

.navigation li:nth-child(5) {
  margin-left: 161px;
}

.header-images img:nth-child(1) {
  position: absolute;
  margin-bottom: 100px;
  margin-top: -10px;
}

.header-images img:nth-child(2) {
  position: relative;
  top: 441px;
}

.sedona-cause {
  margin-top: 448px;
  margin-bottom: 1px;
  padding-left: 355px;
  padding-top: 39px;
  padding-bottom: 30px;
  height: 151px;
  text-align: center;
}

.sedona-cause h3  {
  width: 490px;
  margin-bottom: 31px;
}

.sedona-cause p {
  width: 490px;
}


.all-center {
  margin: 0 auto;
  width: 1200px;
}

.namber-one {
  margin-bottom: 3px;
}

.text {
  width: 400px;
  height: 201px;
  background-color: #81b3d2;
  padding-top: 55px;
  color: #fff;
  text-align: center;
}

.text h3 {
  width: 160px;
  margin: 0 auto;
  line-height: 21px;
}

.text p {
  width: 282px;
  margin: 0 auto;
  margin-top: 22px;
  line-height: 21px;
}

.img-namber {
  float: right;
  margin-top: -256px;
  width: 800px;
  height: 256px;
}

.advantage {
  height: 330px;
  margin-bottom: 0px;
}

.advantage .motel {
  width: 400px;
  height: 300px;
  float: left;
  text-align: center;
  padding-bottom:30px;
}

.advantage .motel p {
  width: 286px;
  margin: 0 auto;
  line-height: 21px;
}

.advantage .motel h3 {
  margin-top: 23px;
}

#img-hotel {
  margin-top: 60px;
}

#img-eat {
  margin-top: 62px;
}

#img-present {
  margin-top: 56px;
}

.namber-two {
  margin-bottom: 0px;
}

.text:nth-of-type(2) {
  float: right;
}

.namber-two .img-namber {
  float: left;
  margin-top: 0px;
}

.nambers-rem {
  height: 256px;
  margin-bottom: 3px;
  background-color: #eeeeee;
}

.nambers-rem div {
  width: 400px;
  height: 207px;
  float: left;
  text-align: center;
  padding-top: 49px;
}

.nambers-rem div h3 {
  width: 120px;
  margin: 0 auto;
  line-height: 21px;
  margin-bottom: 24px;
}

.nambers-rem div p {
  width: 265px;
  margin:  0 auto;
  line-height: 21px;
  margin-top: 21px;
}

.map-top {
  margin-bottom: 0px;
  height: 233px;
  padding-top: 58px;
  text-transform: uppercase;
  text-align: center;
}

.map-top h2 {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.map-top p {
  width: 440px;
  margin: 0 auto;
}

.button {
  width: 568px;
  height: 87px;
  color: #fff;
  outline: none;
  background-color: #766357;
  margin-top: 53px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

footer {
  color: #000000;
  background-color: #fff;
  height: 120px;
}

footer h3 {
  width: 140px;
  float: left;
}

footer ul {
  width: 150px;
  float: right;
}

.make {
  width: 195px;
  height: 39px;
  float: right;
}

.make p {
  width: 74px;
  margin: auto 0;
}

.make img {
}


body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * > * > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}
